@import "tailwindcss";

@theme {
  --font-serif: "Fraunces", serif;
  --font-logo: "Italiana", serif;
  
  --animate-draw-underline: draw-underline 0.8s 0.3s ease-out forwards;

  @keyframes draw-underline {
    from {
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
    }
    to {
      stroke-dasharray: 1;
      stroke-dashoffset: 0;
    }
  }
}

.animate-draw-underline {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: draw-underline 1.2s ease-out forwards;
}
